*{
    background-color: black;
    color: white;
}

#paragraph{
    margin-left: 5%;
    margin-right: 5%;
}
#border{
    border: 1px solid red;
    margin-left: 10%;
    margin-right: 10%;
}
header{
    font-size: xx-large;
    text-align: center;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
fieldset{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
#inputs{
    text-align: center;
    font-size: xx-large;
}
button{
    background-color: orange;
}