*{
    text-align: center;
    font-weight: bold;
    
}
#heading{
    
    color: brown;
}
p{
    border: 2px solid black;
}
#serial_no{
  float: left;
  min-width: 76px;
  max-width:76px;
  height: 50px;
  color: blue;
  background-color: white;
  /* border-style: ridge; */
  padding-top: 25px; 
  padding-left: 14px;
  padding-right:14px ;
  margin-right: -3px;
}
#pd{
    float: left;
  min-width: 207px;
  max-width: 207px;
  height: 30px;
  padding-top: 9.5px;
  color: blue;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px; 
  /* border-style: ridge; */

}
#Quantity{
    height: 50px;
  float: left;
  min-width: 76px;
  max-width:76px;
  padding-left: 14px;
  padding-right: 14px; 
  color: blue;
  padding-top: 25px; 
  background-color: white;
  /* border-style: ridge; */
  margin-left: -8px;
}
#rate{    
    height: 50px;
    float: left;
    min-width: 76px;
	max-width:76px;
    padding-left: 14px;
    padding-right: 14px;
  color: blue;
  background-color: white;
  /* border-style: ridge; */
  padding-top: 25px; 
  padding-left: 28px;
  margin-left: -8px;
    }
#name{
  position: absolute;
  margin-top: 57px;
  float: left;
  min-width: 95px;
  color: rgb(255, 0, 0);
  background-color: white;
  /* border-style: ridge; */
  padding-left: 17px;
  padding-top: 9px;
  padding-right: 17px; 
  margin-left: 103.6px;
  margin-right: -1.5px;
  height: 24.5px;
    }
#Desc{
	position: absolute;
    margin-top: 57px;
  float: left;
  width: 104px;
  color: rgb(255, 0, 0);
  background-color: white;
  /* border-style: ridge; */
  padding-left: 17px;
  padding-top: 9.5px;
  padding-right: 17px; 
  margin-left: 234px;
  margin-right: -1.5px;
  height: 24.5px;
    
}
#Brand{
    position: absolute;
    margin-top: 57px;
  float: left;
  width: 97px;
  color: rgb(255, 0, 0);
  background-color: white;
  /* border-style: ridge; */
  padding-left: 17px;
  padding-top: 9.5px;
  padding-right: 17px; 
  margin-left: 373px;
  margin-right: -1.5px;
  height: 24.5px;
    }
.serial_no{
  position: absolute;
  /* float: left; */
  width: 13.35%;
  padding-top: 1%;
  margin-left: 0px;
  height: 35px;
  color: green;
}
#one{
  margin-top: 93px;
}
#two{
  margin-top: 135.94px;
}
#three{
  margin-top: 180px;
}
#four{
  margin-top: 224px;
}
#five{
  margin-top: 268px;
}
.name{
  position: absolute;
  margin-left: 13.5%;
  padding-top: 1%;
  height: 35px;
  width: 16.60%;
}
#name1{
  margin-top: 92.6px;
}
#name2{
  margin-top: 135.9px;
}
#name3{
  margin-top: 180px;
}
#name4{
  margin-top: 224px;
}
#name5{
  margin-top: 268px;
}
.desc{
  position: absolute;
  margin-left: 30.5%;
  padding-top: 1%;
  height: 35px;
  width: 17.79%;
}
#desc1{
  margin-top: 92.6px;
}
#desc2{
  margin-top: 135.9px;
}
#desc3{
  margin-top: 180px;
}
#desc4{
  margin-top: 224px;
}
#desc5{
  margin-top: 268px;
}
.brand{
  position: absolute;
  margin-left: 48.40%;
  padding-top: 1%;
  height: 35px;
  width: 17.2%;
}
#brand1{
  margin-top: 92.6px;
}
#brand2{
  margin-top: 135.9px;
}
#brand3{
  margin-top: 180px;
}
#brand4{
  margin-top: 224px;
}
#brand5{
  margin-top: 268px;
}
.quant{
  position: absolute;
  margin-left: 65.65%;
  padding-top: 1%;
  height: 35px;
  width: 12.7%;
}
#quant1{
  margin-top: 92.6px;
}
#quant2{
  margin-top: 135.9px;
}
#quant3{
  margin-top: 180px;
}
#quant4{
  margin-top: 224px;
}
#quant5{
  margin-top: 268px;
}
.rate{
  position: absolute;
  margin-left: 78.6%;
  padding-top: 1%;
  height: 35px;
  width: 15.235%;
}
#rate1{
  margin-top: 92.6px;
}
#rate2{
  margin-top: 135.9px;
}
#rate3{
  margin-top: 180px;
}
#rate4{
  margin-top: 224px;
}
#rate5{
  margin-top: 268px;
}