*{
    text-align: center;
    
}
#heading{
    
    color: brown;
}
p{
    border: 2px solid black;
}
#serial_no{
  float: left;
  width: 10%;
  height: 50px;
  color: blue;
  background-color: white;
  /* border-style: ridge; */
  padding-top: 25px; 
  padding-left: 14px;
  padding-right:14px ;
  margin-right: -3px;
}
#pd{
    float: left;
  width: 27.54%;
  height: 30px;
  padding-top: 9.5px;
  color: blue;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px; 
  /* border-style: ridge; */

}
#Quantity{
    height: 50px;
  float: left;
  width: 10%;
  padding-left: 14px;
  padding-right: 14px; 
  color: blue;
  padding-top: 25px; 
  background-color: white;
  /* border-style: ridge; */
  margin-left: -8px;
}
#rate{    
    height: 50px;
    float: left;
    width: 10%;
    padding-left: 14px;
    padding-right: 14px;
  color: blue;
  background-color: white;
  /* border-style: ridge; */
  padding-top: 25px; 
  padding-left: 28px;
  margin-left: -8px;
    }
#name{
  margin-top: -53px;
  float: left;
  width: 13%;
  color: rgb(255, 0, 0);
  background-color: white;
  /* border-style: ridge; */
  padding-left: 17px;
  padding-top: 9px;
  padding-right: 17px; 
  margin-left: 13.8%;
  margin-right: -1.5px;
  height: 24.5px;
    }
#Desc{
    margin-top: -53px;
  float: left;
  width: 15%;
  color: rgb(255, 0, 0);
  background-color: white;
  /* border-style: ridge; */
  padding-left: 17px;
  padding-top: 9.5px;
  padding-right: 17px; 
  margin-left: 31%;
  margin-right: -1.5px;
  height: 24.5px;
    
}
#Brand{
    margin-top: -53px;
  float: left;
  width: 13%;
  color: rgb(255, 0, 0);
  background-color: white;
  /* border-style: ridge; */
  padding-left: 17px;
  padding-top: 9.5px;
  padding-right: 17px; 
  margin-left: 49.5%;
  margin-right: -1.5px;
  height: 24.5px;
    }
