*{
    text-decoration: none;
}
main{
    margin-top: 45px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
div{
    width: 720px;
}
header{
	background-color: black;
	color: aliceblue;
	text-align: center;
	height: 50px;
	font-size: xx-large;
}
footer{
	background-color: black;
	color: aliceblue;
	text-align: center;
	height: 50px;
	font-size: xx-large;
}
#sg{
    position: absolute;
    width: 190px;
    height: 50px;
    margin-top: -105px;
    margin-left: 280px;
    font-size: 30px;
    background-color: red;
    border-radius: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}