 table, th, td{
    border: 1px solid black;
}

h2{
    text-decoration-line: underline;
    margin-left: 30%;
    color: darkviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
form{
 margin-left: 3%;
} 
span{
  color: red;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

  }
  .left {
    left: 0;
    background-color: beige;    /* background-color: #111; */
  }
  
  .right {
    right: 0;
    background-color: lightblue;
  }
  form{
    margin-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  table{
    margin-top: 10%;
    background-color: azure;
  }
  td{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #mail{
    margin-left: 5%;
  }
  #email{
    width: 250px;
  }
  .fname{
    margin-left: 1.5%;
  }
  .mname{
    margin-left: 1.5%;
  }
  .lname{
    margin-left: 1.5%;
  }
  #forname{
    margin-left: 40px;
  }
  #city{
    margin-left: 40px;
  }
  #state{
    margin-left: 1.5%;
  }
  #country{
    margin-left: 1.5%;
  }
  #submit{
    margin-left: 20%;
    width: 15vw;
    height: 30px;
    font-weight: bold;
    font-size: large;
    color: aliceblue;
    background-color: darkgreen;
  }
  #submit:hover{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #reset{
    margin-left: 2%;
    width: 15vw;
    height: 30px;
    font-weight: bold;
    font-size: large;
    color: aliceblue;
    background-color: darkgreen;

  }
  #reset:hover{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  th{
    color: blue;
  }
  .s_no{
    color: brown;
  }
  a{
    text-decoration: none;
    color: darkgreen;
  }
  p{
    margin-top: 25%;
    float: right;
    margin-right: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }